<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category>
        <setting id="topic" type="labelenum" label="33101" values="Hot|New|Rising|Top" default="Hot" />
        <setting id="subreddits" type="file" label="33102" />
        <setting id="downloads" type="folder" label="33103" />
    </category>
</settings>
